/*------------- COLORS ------------*/
$primary: #0d69b0;
$primary-hover: #014d88;
$secondary: #ed3f10;
$secondary-hover: #bd2800;
$tertiary: #00b6f6;
$tertiary-hover: #0089b9;
$text-light: #ffffff;
$text-dark: #000000;

/*------------ FONTS -------------*/
$font-primary: "Open Sans", Arial, sans-serif;
$font-secondary: "Gilroy", sans-serif;

/*--------- TRANSITIONS ----------*/
$fast: 0.2s;

/*----------- DEVICES ------------*/
$laptop: 1350px;
$tablet: 1025px;
$phone: 576px;
